#firebug-button .badge > .label {
    -moz-box-sizing: border-box;
    visibility: hidden;
    border-radius: 4px;
    padding: 0 2px 0 2px;
    background: #e66000 none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
    font-size: 8px;
    line-height: 1;
    white-space: nowrap;
    color: #fff;
}

/* Slightly different positions of the badge for individual toolbars */
#nav-bar #firebug-button .badge {
    margin: -6px -12px 0 -8px;
}

#fbContentSplitter{
    border-color: threedShadow !important;
    background-color: #FFFFFF;
}

#fbContentSplitter[dir=reverse]{
    transform: scale(-1, -1);
}

#fbContentSplitter[orient=vertical] {
    background: transparent;
    border-bottom-width: 0;
    min-height: 7px;
    height: 7px;
    margin-bottom: -7px;
    position: relative;
}

#fbContentSplitter[orient=horizontal] {
    border-right: 1px solid !important;
    border-left: none;
    min-width: 5px;
    max-width: 5px;
    background-color: -moz-dialog;
}